.row
  .col-sm-5
    .general-img-wrap
      %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  .col-sm-7
    .mb-60
      %h1= latest_books.title
      %p.lead= latest_books.description
      %p.lead.small= latest_books.authors.map { |author| "#{author.first_name} #{author.last_name}" }.join
      .general-align
        %button.btn.btn-primary= t(:buy_now)