%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      - @latest_books.each_index do |index|
        - if index.zero?
          %li.active{'data-target': "#slider", 'data-slide-to': "#{index}"}
        - else
          %li{'data-target': "#slider", 'data-slide-to': "#{index}"}
    .carousel-inner{role: "listbox"}
      - @latest_books.each_with_index do |latest_books, index|
        - if index.zero?
          .item.active
            = render :partial => 'books/latest_books', locals: {latest_books: latest_books}
        - else
          .item
            = render :partial => 'books/latest_books', locals: {latest_books: latest_books}
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    %button.btn.btn-default Get Started
  .mb-35
    %h3 Best Sellers
    .row
      - @best_sellers.each do |best_sellers|
        = render :partial => 'books/best_seller', locals: {best_sellers: best_sellers}
